<div class="card page-card">
    <div class="card-body">
        <div class="d-md-flex align-items-center">
            <div>
                <h4 class="card-title text-custom">Track User Engagements</h4>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">

                    <p style="padding-bottom: 20px;">Here, you will find all feedback received from users interacting with your product. <br> You can reply the messages or send whatsapp push notifications. </p>
                    <ngx-datatable #mydatatable class="material" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                        <ngx-datatable-column name="User's Name">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                <span title="Double click to edit">{{row?.user?.first_name}}</span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="User Experience">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                <span title="Double click to edit">
                                            {{row.product_user_exprnce}}
                                        </span>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Date Created">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                {{row.updated_at | amCalendar:{sameElse:'Do MMMM, YYYY',lastWeek:'Do MMMM, YYYY'} }}
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Actions">
                            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                                <a (click)="gotoPrintCode(row)" style="color: #23b195;margin-right: 20px;"><i class="fa fa-comments"> Reply via Text</i></a>
                                <a (click)="ViewBatch(row)" style="color: #23b195;margin-right: 20px;"><i class="fa fa-whatsapp"> Send Whatsapp</i></a>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </div>
    </div>
</div>