<div class="card page-card">
    <div class="card-body">
        <div class="col-md-12 text-center">
    
            <img src="assets/theme/images/loyalty-card-n.svg" style="width: 8%; padding-bottom: 20px;">
    
            <h6 style="color: #23b195;">Create Redemption Point</h6>
    
        </div>
        <div class="col-lg-12">
            <form class="form-horizontal" role="form" [formGroup]="redemptionPointForm" (ngSubmit)="onSubmit()">

                <div class="form-group">

                    <label class="col-md-12 col-form-label">Select Location</label>

                    <div class="col-md-12">

                        <select class="custom-select mt-3" formControlName="point_location">

                            <!-- <option>Lagos</option>

                            <option>Abuja</option> -->
                            <option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>

                        </select>
                        <p style="font-weight: bold;font-size: 0.8em;color: #a00d2e;padding: 2px;margin-top: 10px; float: right;" (click)="openLocationModal()">+ Add Location</p>
                    </div>

                </div>

                <div class="form-group">

                    <label class="col-md-12 col-form-label">Address</label>
                    <div class="col-md-12">

                        <input type="text" formControlName="point_address" class="form-control" placeholder="">

                    </div>

                </div>

                <div class="form-group">

                    <label class="col-md-12 col-form-label">Agent Name</label>

                    <div class="col-md-12">

                        <input type="text" formControlName="point_agent_name" class="form-control"  placeholder="agent name">

                    </div>

                </div>
                <div class="form-group">

                    <label class="col-md-12 col-form-label">Agent Phone Number</label>

                    <div class="col-md-12">

                        <input type="text" formControlName="point_agent_phone" class="form-control"  placeholder="agent phone number">

                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-12 col-form-label">Agent Code</label>
                    <div class="col-md-12">
                        <input type="text" formControlName="point_agent_code" class="form-control"  placeholder="12001">
                    </div>
                </div>

                <div class="form-group">

                    <label class="col-md-12 col-form-label">What Reward Type Will Be Handled?</label>
                    <div class="col-md-12">

                        <select class="custom-select mt-3" formControlName="survey_rewardId">
                            <option *ngFor="let reward of save_surveyReward" value="{{reward.id}}">{{reward.reward_type}} ({{reward.reward_value}})</option>
                        </select>
                    </div>
                </div>
                <br>

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-rounded" [disabled]="loading || redemptionPointForm.invalid">Create Redemption Point</button>
                </div>
            </form>            
        </div>
    </div>
</div>