
//(fonts)
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800');

//(Required file)
@import 'variable';

// Import Bootstrap source files (Required file)
@import "bootstrap/bootstrap";

//This is for the components (Required file)
@import 'components';

//This is for the responsive (Required file)
@import 'responsive';

//In This scss you can write your scss
@import 'custom'; 

//This is for the icons (Required file)
@import 'icons/font-awesome/css/fontawesome-all.css';
@import 'icons/themify-icons/themify-icons.css';
@import "icons/material-design-iconic-font/css/materialdesignicons.min.css";
@import "icons/weather-icons/css/weather-icons.min.css";

@import '~ng-wizard/themes/ng_wizard.min.css';

@import '~ng-wizard/themes/ng_wizard_theme_arrows.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_circles.min.css';
@import '~ng-wizard/themes/ng_wizard_theme_dots.min.css';

.btn-right{
    float: right;
}

.card-title{
    margin-bottom: 30px !important;
    font-weight: 700 !important;
    font-size: 16px;
    color: #23b195;
}


.card-box {
    background-color: #ffffff;
    border: 1px solid rgba(98, 103, 115, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
  }
  
  .card-box-color {
    background-color: #95FFB1;
    /* border: 1px solid rgba(98, 103, 115, 0.2); */
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
  }

.btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #212529;
}

.topbar .nav-toggler, .topbar .topbartoggler{
  color: #666666;
}

.add-product-form .nav-tabs .nav-item {
  margin-bottom: -1px;
  margin-right: 100px !important;
}

.ng-wizard-theme-default>ul.step-anchor>li.active>a {
  border: none!important;
  color: #23b195!important;
  background: 0 0!important;
  cursor: pointer;
}

.ng-wizard-theme-default>ul.step-anchor>li>a::after{
  background: #23b195!important;;
}

.add-product-form .nav-tabs .nav-item{
  font-weight: 900;
}

.ng-wizard-theme-default>ul.step-anchor>li.done>a{
  color: #626773 !important;
}

.ng-wizard-theme-default>ul.step-anchor>li.done>a::after{
  background: none !important;
}

.ng-wizard-theme-default>ul.step-anchor>li>a, .ng-wizard-theme-default>ul.step-anchor>li>a:hover{
  color: #626773 !important; 
}

.ngx-datatable.material{
  box-shadow:none !important;
}

.ngx-datatable.material .datatable-header .datatable-header-cell {
  text-align: left !important;
  padding: 0.9rem 1.2rem !important;
  font-weight: 400 !important;
  background-color: transparent !important;
  color: teal !important;
  vertical-align: bottom !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  color: #6e7382 !important;
}
.ng-wizard-theme-default{
  padding: 12pt !important;
}

.ng-wizard-theme-default .ng-wizard-toolbar {
  background-color: #ffffff;
}

.btn-default:hover{
  background-color: #cccccc;
}