.thumbnail.right-caption > img {
    float: left;
    /* margin-right: 9px; */
    width: 100%;
}

.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}

.right-caption h5{
    font-size: 0.7rem;
}
.right-caption p{
    font-size: 0.7rem;
}

.avatar-section{
    float: left;
    width: 20%;
}

.caption{
    float: left;
    width: 75%;
    margin-left: 3%;
}

.img-thumbnail{
    height: 100px;
    width: 100px;
}