body{
    background-color: #ffffff !important;
}
.auth-wrapper{
    margin-top: 5%;
}

.auth-box{
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    padding: 50px;
}

.form-control{
    background-color: #ffffff;
}

.logo{
    text-align: center;
}

.logo img{
    margin-bottom: 40px;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.logo-container{
    padding-top: 5%;
    text-align: center;
}

@media (max-width: 704px){
    .auth-box {
        padding-top: 0px;
        padding-right: 8px;
        background-image: initial;
        background-position-x: initial;
        background-position-y: initial;
        background-size: initial;
        background-repeat-x: initial;
        background-repeat-y: initial;
        background-attachment: initial;
        background-origin: initial;
        background-clip: initial;
        background-color: transparent;
        box-shadow: none;
        /* width: 320px; */
    }
}
