
<div class="card page-card">
    <div class="card-body">
        
        <div class="row">

            <div class="col-sm-12">
                <div class="align-items-center">
                    <div>
                        <h4 class="card-title text-custom">Surveys
                            <a [hidden]="!utility.hasPermission(15)" routerLink="/dashboard/surveys/create-survey" routerLinkActive="router-link-active" class="pull-right">
                                <button type="button" class="btn btn-default btn-rounded btn-right">+ create new survey</button>
                            </a>
                        </h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 offset-sm-2">
                        <div size="tiny" class="solar-card card-box-color">
                            <div>
                                <div class="text-center">
                                    <br>
                                    <h3>{{save_survey?.length || 0}}</h3> <br>
                                    <p> Surveys Created</p> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div size="tiny" class="solar-card card-box-color">
                            <div>
                                <div class="text-center">
                                    <br>
                                    <h3>{{user_recordCounts?.response_count || 0}}</h3> <br>
                                    <p> Questions Answered</p> <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-3">
                        <nb-card size="tiny" class="solar-card card-box-color">
                            <nb-card-body>
                                <div class="text-center">
                                    <br>
                                    <h3>{{user_recordCounts?.response_count || 0}}</h3> <br>
                                    <p> Questions Answered</p> <br>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div> -->
                </div>
            </div>
            <br><br>
        </div>
        <div class="card-box">
            <div>
                <h4 class="card-title text-custom">Surveys Created:</h4>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th>Name </th>
    
                            <th>Title</th>
    
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let survey of save_survey" class="col_color">
                            <td scope="row"> {{survey?.title}}    
                            </td>
                            <td>{{survey.content}}</td>
                            <td>
                                <a (click)="gotoViewSurvey(survey)" routerLinkActive="router-link-active" style="color:#777;margin-right: 15px;cursor:pointer;">
                                    <i class="fa fa-eye"></i> View</a>
                                <a [hidden]="!utility.hasPermission(16)" (click)="gotoEditSurvey(survey,getSurveyQuestions(survey))" routerLinkActive="router-link-active" style="color:#777;margin-right:20px;cursor:pointer;">
                                    <i class="fa fa-edit"></i> Edit</a>
                            </td> 
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>