<div class="card page-card">
    <div class="card-body">
        <div>
            <h4 class="card-title text-custom">Rewards
                <a [hidden]="!utility.hasPermission(17)" routerLink="/dashboard/rewards/view-all" routerLinkActive="router-link-active" class="pull-right">
                    <button type="button" class="btn btn-default btn-rounded btn-right">View All Rewards</button>
                </a>
            </h4>
        </div>
        <div class="row">
            <p>These are the reward types we currently support: </p>
            <div class="row">
                <div class="col-xxl-6 col-md-3" [hidden]="!utility.hasPermission(18)">
                    <div>
                        <div class="card-box text-center">
                            <img src="assets/images/merchandise.svg" style="width: 20%; margin-bottom: 20px;">
                            <h5>Merchandize</h5> <br>
                            <!-- <p style="font-size: 10px;">3 Merchandize Types Onboarded <br> 1200 Total Units Onboarded</p> -->
                            <a [routerLink]="['/dashboard/rewards/merchandize-reward']" routerLinkActive="router-link-active">
                                <button type="button" class="btn btn-default
                                    btn-rounded"> View Rewards </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-md-3" [hidden]="!utility.hasPermission(19)">
                    <div>
                        <div class="card-box text-center">
                            <img src="assets/images/smartphone.svg" style="width: 20%; margin-bottom: 20px;">
                            <h5>Airtime</h5> <br>
                            <!-- <p style="font-size: 10px;">2 Airtime Value Onboarded <br> 100 Total Units Onboarded</p> -->
                            <a [routerLink]="['/dashboard/rewards/airtime-reward']" routerLinkActive="router-link-active">
                                <button type="button" class="btn btn-default
                                    btn-rounded"> View Reward </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-md-3" [hidden]="!utility.hasPermission(20)">
                    <div>
                        <div class="card-box text-center b-0">
                            <img src="assets/images/loyalty-card.svg" style="width: 20%; margin-bottom: 20px;">
                            <h5>Loyalty Points</h5> <br>
                            <!-- <p style="font-size: 10px;">You have not loaded this yet</p> -->
                            <a [routerLink]="['/dashboard/rewards/loyalty-points']" routerLinkActive="router-link-active">
                                <button type="button" class="btn btn-default
                                    btn-rounded"> View Reward </button>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-6 col-md-3" [hidden]="!utility.hasPermission(21)">
                    <div>
                        <div class="card-box text-center b-0">
                            <img src="assets/images/winner.svg" style="width:
                                20%; margin-bottom: 20px;">
                            <h6>Raffle Draw</h6> <br>
                            <!-- <p style="font-size: 10px;">You have not <br>loaded this yet</p> -->
                            <a [routerLink]="['/dashboard/rewards/raffle-draw']">
                                <button type="button" class="btn btn-default
                                    btn-rounded"> View Reward </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>           
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="m-b-20">
                    <h6 class="font-14 mt-4" style="padding-bottom: 50px;">
                        Redemption Sites Details:
                        <a [routerLink]="['/dashboard/rewards/create-redemption-point']" routerLinkActive="router-link-active" class="pull-right">
                            <button type="button" class="btn btn-default btn-right
                                btn-rounded">+ create redemption point</button>
                        </a>
                    </h6>
                    <table class="table m-0">
                        <thead class="table_color">
                            <tr>
                                <th>#</th>
                                <th>Agent's Name</th>
                                <th>Phone Number</th>
                                <th>Location</th>
                                <th>Agent Code</th>
                                <th>Redeemed Rewards</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let redemptnpnt of redemptionpoints;let
                                i=index;" class="col_color">
                                <th scope="row">{{i+1}}</th>
                                <td>{{redemptnpnt.point_agent_name}}</td>
                                <td>{{redemptnpnt.point_agent_phone}}</td>
                                <td>{{redemptnpnt.point_address}}, {{redemptnpnt.point_location}}
                                </td>
                                <td>{{redemptnpnt.point_agent_code}}</td>
                                <td>{{redemptnpnt.reward_redeemed}}</td>
                                <td>
                                    <a style="color: #23b195;">
                                        <i class="fa fa-eye"></i> View Agent
                                    </a>
                                </td>
                            </tr>
    
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
</div>