<div class="card page-card">
    <div class="card-body">
        <div class="col-sm-12">

            <a [routerLink]="['/dashboard/rewards']" routerLinkActive="router-link-active" style="font-size: 12px; color: #777;" class="m-b-20">
    
                << Go back </a>
        </div>
        <div class="col-md-12 text-center">
    
            <img src="assets/images/merchandise.svg" style="width: 8%; padding-bottom: 20px;">
    
            <h6 style="color: #23b195;">Merchandise Reward</h6> <br>
    
        </div>
        <div class="col-lg-12">
            <div>
                <form class="form-horizontal" role="form" [formGroup]="surveyMerchantForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label class="col-md-4 col-form-label">Upload Merchandise Image:</label>
                        <input  class="form-control" type="file" name="photo" [ngClass]="{ 'is-invalid':submitted && f.photo?.errors }" (change)="onFileChange($event)" accept="image/*">
                    </div>
                    <br>
                    <div class="form-group">
    
                        <label class="col-md-4 col-form-label">Merchandise Type:</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control" formControlName="reward_value" [ngClass]="{ 'is-invalid': submitted && f.product_name?.errors}" required="true">
                        </div>
                    </div> <br>
                    <div class="form-group">
                        <label class="col-md-4 col-form-label">Merchandise Unit:</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" formControlName="reward_quant" [ngClass]="{ 'is-invalid':submitted && f.product_name?.errors}" required="true">
                        </div>
                    </div> <br>
                    <div class="form-group">
                        <label class="">How Many Points Does A Customer Need To Have To Claim This Merchandise?</label>
                        <div class="col-md-12">
                            <input type="number" class="form-control" formControlName="reward_point" [ngClass]="{ 'is-invalid':submitted && f.product_name?.errors}" required="true">
                        </div>
                    </div> <br>
                    <button class="btn btn-success btn-rounded" type="submit" [disabled]="loading ||surveyMerchantForm.invalid"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save and Update</button>
                </form>                
            </div>
        </div>
    </div>
</div>