<div class="card page-card">
    <div class="card-body">
        <div class="col-md-12 text-center">
    
            <img src="assets/images/loyalty-card-f.svg" style="width: 8%; padding-bottom: 20px;">

            <h6 style="color: #23b195;">Edit Product</h6> <br>
    
        </div>

        <div class="col-sm-12">
            <div class="row" *ngIf="productObject">
                <div class="col-md-2">
    
                    <div class="thumb-xl member-thumb m-b-10 center-page">
                        <img src="{{productObject.product_image}}" class="rounded-circle img-thumbnail" alt="profile-image">
                        <br><br>
    
                        <!-- <p style="padding-bottom: 40px;"> Change Image</p> -->
                        <!-- <input type="file" name="pic" accept="image/*"> -->
                        <br><br>
                    </div>
                </div>
                <ngb-toast header="Notification header">
                    Content of the notification
                  </ngb-toast>
                <div class="col-md-1"></div>
    
                <div class="col-md-9 col-lg-9 col-xxxl-9">
                    <form  class="form-horizontal" role="form" [formGroup]="productForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Product Name:</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" formControlName="product_name" [ngClass]="{ 'is-invalid': submitted && f.product_name?.errors}" placeholder="Product ame" required="true">
                            </div>
                        </div> <br>

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Product Description:</label>
                            <div class="col-md-12">
                                <textarea class="form-control" rows="5" formControlName="product_description" [ngClass]="{'is-invalid':submitted &&  f.product_description?.errors}" placeholder="Product Description"></textarea>
                            </div>
                        </div> <br>
                        <div class="form-group radio">
                            <label class="col-md-6
                                col-form-label">What Age Group
                                is the Product For?</label>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="radio col-md-4">
                                        <input id="checkbox0" type="radio" formControlName="age_range" value="0-2">
                                        <label for="checkbox0">
                                            0-2 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox1" type="radio" formControlName="age_range" value="2-12">
                                        <label for="checkbox0">
                                            2-12 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox2" type="radio" formControlName="age_range" value="13-19">
                                        <label for="checkbox0">
                                            13-19 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox3" type="radio" formControlName="age_range" value="20-29">
                                        <label for="checkbox0">
                                            20-29 years
                                        </label>
                                    </div>

                                    <div class="radio col-md-4">
                                        <input id="checkbox4" type="radio" formControlName="age_range" value="30-40">
                                        <label for="checkbox0">
                                            30-40 years
                                        </label>
                                    </div>
                                    <div class="radio col-md-4">
                                        <input id="checkbox5" type="radio" formControlName="age_range" value="40 and
                                            above">
                                        <label for="checkbox0">
                                            40 and above
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Production Date:</label>
                            <div class="col-md-12">
                                <input type="date" class="form-control" formControlName="production_date" [ngClass]="{'is-invalid':
                                    submitted &&
                                    f.expiry_date?.errors}" required="true" placeholder="Product Expiry
                                    Date">
                            </div>
                        </div> <br>
                        <div class="form-group">
                            <label class="col-md-4
                                col-form-label">Expiry Date:</label>
                            <div class="col-md-12">
                                <input  value="2020-11-30" type="date" formControlName="expiry_date" [ngClass]="{'is-invalid':
                                    submitted &&
                                    f.production_date?.errors
                                    }" required="true" placeholder="Product
                                    Production Date" class="form-control">
                            </div>
                        </div> <br>

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Batch Number:</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" formControlName="batch_num" [ngClass]="{
                                    'is-invalid':submitted &&
                                    f.batch_num?.errors}" required="true" placeholder="Product Batch
                                    Number">
                            </div>

                        </div> <br>

                        <div class="form-group">

                            <label class="col-md-4
                                col-form-label">Barcode Number:</label>
                            <div class="col-md-12">
                                <input type="text" class="form-control" formControlName="barcode_num" [ngClass]="{ 'is-invalid':
                                    submitted &&
                                    f.barcode_num?.errors}" required="true" placeholder="Product Barcode
                                    Number">
                            </div>

                        </div> <br>


                        <div class="form-group radio">
                            <label class="col-md-6
                                col-form-label">Product
                                Category:</label>

                            <div class="col-md-12">

                                <div class="row">

                                    <br>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="product_category" value="Organic">
                                        <label for="checkbox0">
                                            Organic
                                        </label>
                                    </div>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="product_category" value="Synthesized">
                                        <label for="checkbox0">
                                            Synthesized
                                        </label>
                                    </div>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="product_category" value="Hybrid">
                                        <label for="checkbox0">
                                            Hybrid
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> <br>
                        <div class="form-group radio">
                            <label class="col-md-6
                                col-form-label">ID
                                Range:</label>

                            <div class="col-md-12">

                                <div class="row">

                                    <br>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="id_range" value="10000">
                                        <label for="checkbox0">
                                            10,000 units
                                        </label>
                                    </div>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="id_range" value="50000">
                                        <label for="checkbox0">
                                            50,000 units
                                        </label>
                                    </div>

                                    <div class="radio
                                        col-md-4">
                                        <input type="radio" formControlName="id_range" value="500000">
                                        <label for="checkbox0">
                                            500,000
                                            units
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div> <br>
                        <!-- <div class="form-group">
                            <label class="col-md-12 col-form-label">Please select the survey you want to attach to  this Product.</label>
                            <div class="col-md-12">
                                <select class="custom-select mt-3" formControlName="surveyId">
                                    <option *ngFor="let survey of save_survey"value="{{survey.id}}">{{survey.title}}</option>
                                </select>
                            </div>
                        </div> <br> -->
                        <!-- <div class="form-group">
                            <label class="col-md-12
                                col-form-label">Please select the rewards you want to attach to this Product.</label>
                            <div class="col-md-12">
                                <select class="custom-select mt-3" formControlName="rewardId">
                                    <option *ngFor="let reward of save_surveyReward"value="{{reward.id}}">{{reward.reward_type}} {{reward.reward_value}}</option>
                                </select>
                            </div>
                        </div>
                        <br><br> -->
                        <button class="btn btn-success btn-rounded" type="submit" [disabled]="loading || productForm.invalid"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save and Update</button>
                    </form>
                </div>
            </div> 
        </div>
    </div>
</div>