.center-page {
    float: none !important;
    margin: 0 auto;
}

.thumb-xl {
    height: 120px;
    width: 120px;
}

.rounded-circle {
    border-radius: 50% !important;
}

.img-thumbnail {
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}