<div class="card page-card">
    <div class="card-body">
        <div class="col-md-12 text-center">
    
            <img src="assets/theme/images/loyalty-card-f.svg" style="width: 8%; padding-bottom: 20px;">
    
            <h6 style="color: #23b195;">View Loyalty Points Reward</h6> <br>
    
        </div>
        <div class="col-lg-12">
            <div>
                <form class="form-horizontal" role="form" [formGroup]="loyaltyPointForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">Name of Loyalty Point</label>

                        <div class="col-md-12">

                            <input type="text" class="form-control" formControlName="loyalty_name" placeholder="e.g. promo">

                        </div>

                    </div>

                    <br>

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">How Many Points Should Be Allocated To Each Scan By The User?</label>

                        <div class="col-md-12">

                            <input type="text" class="form-control" formControlName="scan_point_to_allocate" placeholder="e.g. 30, 50">

                        </div>

                    </div> <br>

                    <hr> <br>

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">What is The User Getting?</label>

                        <div class="col-md-12">

                            <select class="custom-select mt-3" formControlName="loyalty_reward">
                            
                            <option>Airtime</option>
                            
                            <option>Tickets</option>
                        
                        </select>

                        </div>

                    </div> <br>

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">What is The Value of The Item The User is Getting?</label>

                        <div class="col-md-12">

                            <input type="text" class="form-control" formControlName="loyalty_reward_value" placeholder="e.g. N100, N200, N300">

                        </div>

                    </div> <br>

                    <div class="form-group">

                        <label class="col-md-12 col-form-label">How Many Points Should Convert To The Item?</label>

                        <div class="col-md-12">

                            <input type="text" class="form-control" formControlName="loyalty_point_convert" placeholder="e.g. 5, 7, 9">

                        </div>

                    </div> <br>

                    <div class="text-center">

                        <button type="submit" class="btn btn-success btn-rounded" [disabled]="loading ||  loyaltyPointForm.invalid"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit</button>

                    </div>
                </form>                             
            </div>
        </div>
    </div>
</div>