.btn-1{
    background: #FAFAFA;
}

.btn-2{
    background-color: #6AF7B5;
    margin-bottom: 40px;
    color: #fff;
}

.choice-input{
    margin-bottom: 10px;
}

.invalid-feedback{
    display: block;
    color: red;
}

.q-txt-0{
    font-size: 1.2em;
}
.q-txt-1{
    color: #24B195;
}

.single-question{
    /* border-bottom: solid 1px #ccc; */
    margin-bottom: 30px;
}