.container {
    width: 300px;
    height: 200px;
    padding: 2rem;
    text-align: center;    
    /* border: 2px solid #bababc; */
    border-radius: 4px;
    position: relative;
    margin: 0 auto;
}

button {
    align-items: center;
    margin-top: 200px;
    display: block;
    top: 50%;
    right: 50%;
    justify-content: center;
    color: #23b195;
}

/* style="margin: auto; display: block; align-items: center; position: absolute; top: 50%; right: 50%; justify-content: center;" */