<div class="card page-card">
    <div class="card-body">
        <div class="col-lg-3 text-center container">
                <a [routerLink]="['/dashboard/rewards/']" routerLinkActive="router-link-active">
                    <button type="button" class="btn btn-lg btn-default btn-rounded">Setup Rewards</button>
                </a>
        </div>
        </div>
</div>

  