body {
    background-color: #f5f5f5;
    font-family: "Noto Sans", sans-serif;
    color: #676a6c;
    font-size: 14px;
}

.title-1{
    margin-top: 0;
    font-weight: bold;
    /* border-bottom: 1px solid gainsboro; */
    padding-bottom: 12px;
    font-size: 16px;
    color: #23b195;
}

.title-2 {
    margin-top: 0;
    font-weight: bold;
    padding-bottom: 0px;
    font-size: 21px;
    color: #23b195;
}

.stage-bordered{
    background-color: #ffffff;
    border: 1px solid rgba(98, 103, 115, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.control-label {
    color: #1c1c1c;
    font-weight: 600;
    padding-right: 0;
    text-align: center;
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 20px;
}

.btn-success-1{
    border-radius: 2em;
    padding: 6px 18px;
    background-color: #23b195;
    border-color: #23b195;
    color: #ffffff !important;
    font-weight: bold;
}

.btn-success-2{
    background-color: #ffffff;
    border-color: #cccccc;
    font-weight: 400;
    color: #212529;
    border-radius: 2em;
    padding: 6px 18px;
}
  .bg-grn{
    background-color: #23b195;
    border-color: #23b195;
    color: #fff
  }
.container {
    width: 300px;
    height: 200px;
    padding: 2rem;
    text-align: center;    
    border: 2px dashed #bababc;
    border-radius: 4px;
    position: relative;
    margin: 0 auto;
    background-color: #fcfcfc;
  
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  
    label {
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
    }
  
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
  }
  .hd1{
    color: #1c1c1c;
    font-weight: 600;
    padding-right: 0;
    text-align: center;
    padding-top: 0;
    padding-bottom: 15px;
    font-size: 20px;
  }
  .upload_container{
    margin-left: 23%;
  }
  .fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  .files-list {
    margin-top: 1.5rem;
  
    .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;
  
      .delete {
        display: flex;
        margin-left: 0.5rem;
        cursor: pointer;
        align-self: flex-end;
      }
  
  
      display: flex;
      flex-grow: 1;
  
      .name {
        font-size: 14px;
        font-weight: 500;
        color: #353f4a;
        margin: 0;
      }
  
      .size {
        font-size: 12px;
        font-weight: 500;
        color: #a4a4a4;
        margin: 0;
        margin-bottom: 0.25rem;
      }
  
      .info {
        width: 100%
      }
    }
  }
  
  /* Shake animation */
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
  
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
  
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
  
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
  
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
  
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
  
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
  
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
  
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
  
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }

  .balance_txt{
    float: right;
    color:#000;
  }

  .summary_warning{
    color: #db202f;
  }

  .ret_summary{
    background-color: #f7f5eb;
    border: solid 1px #EDEADA;
    padding: 20px;
    border-radius: 5px;
  }

  .top-s-1{
    padding: 20px;
  }
  .top-s-1 div{
    background-color: #95FFB1;
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    text-align: center;
  }

  .top-s-1 img{
    width: 15%;
    margin-bottom: 20px;
  }

  .top-s-1 p{
    text-decoration: underline;
    cursor: pointer;
  }


  .top-s-2{
    padding: 20px;
  }
  .top-s-2 div{
    background-color: #ffffff;
    border: 1px solid rgba(98, 103, 115, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    text-align: center;
  }
  .top-s-2 img{
    width: 15%;
    margin-bottom: 20px;
  }

  .top-s-2 h3{
    color: #676A6C;
  }

  .top-s-2 h6{
    font-weight: normal;
    color: #676A6C;
    font-size: 0.9em;
  }
