<div class="card page-card">
    <div class="card-body">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="header-title m-t-0 m-b-20 title-1">Welcome to User Engagements on Chekkit ⚡️⚡️ <span class="balance_txt" *ngIf="plan">sms: {{ plan.unused + '/' + plan.capacity}}</span></h3>
                </div>
            </div>
            <div class="rodw" *ngIf="stage == 6">
                    <div class="row">
                        <div class="col-3 top-s-1">
                            <div>
                                <img src="http://consumerintelligence.surge.sh/assets/images/presentation.svg">
                                <h3>0</h3>
                                <h5>Reports</h5>
                                <p [routerLink]="['/dashboard/user-feedback']">view reports</p>
                            </div>
                        </div>
                        <div class="col-3 top-s-1">
                            <div>
                                <img src="http://consumerintelligence.surge.sh/assets/images/groupp.svg">
                                <h3>{{planDetails?.contacts}}</h3>
                                <h5>User Contacts</h5>
                                <p [routerLink]="['/dashboard/retargeting/contacts']">view reports</p>
                            </div>
                        </div>
                        <div class="col-3 top-s-1">
                            <div>
                                <img src="http://consumerintelligence.surge.sh/assets/images/mail.svg">
                                <h3>0</h3>
                                <h5>Survey Response</h5>
                                <p [routerLink]="['/dashboard/survey']">view reports</p>
                            </div>
                        </div>
                        <div class="col-3 top-s-1">
                            <div>
                                <img src="http://consumerintelligence.surge.sh/assets/images/whatsapp.svg">
                                <h3>0</h3>
                                <h5>Whatsapp Contacts</h5>
                                <p><i>coming soon</i></p>
                            </div>
                        </div>
                    </div>
    
                    <p style="color: #777;font-weight: 500; margin-left: 2%">SMS Traffic:</p>
                    <div class="row">
                        <div class="col-4 top-s-2">
                            <div>
                                <img src="http://consumerintelligence.surge.sh/assets/images/email.svg">
                                <h3>{{planDetails?.sent}}</h3>
                                <h6>Total Sent Messages</h6>
                                <button class="btn btn-default btn-rounded" (click)="csvOff()" type="submit">View</button>
                            </div>
                        </div>
                        <div class="col-4 top-s-2">
                            <div>
                                <img src="http://consumerintelligence.surge.sh/assets/images/spam.svg">
                                <h3>{{planDetails?.failed}}</h3>
                                <h6>Failed Messages</h6>
                                <button class="btn btn-default btn-rounded" (click)="csvOff()" type="submit">View</button>
                            </div>
                        </div>
                        <div class="col-4 top-s-2">
                            <div>
                                <img src="http://consumerintelligence.surge.sh/assets/images/money.svg">
                                <h3>{{plan?.unused}}</h3>
                                <h6>Balance</h6>
                                <button class="btn btn-default btn-rounded" (click)="csvOff()" type="submit">View</button>
                            </div>
                        </div>
                    </div>
                    
            </div>
            <div class="col-sm-6  offset-md-3">
                <div *ngIf="stage == 1" class="row stage-bordered text-center">
                        <div class="form-group"> <br>
                                                        
                        <label class="gusto-label control-label">Ready To Engage Customers?😉</label>
    
                        <p> <img src="https://chekkitapp.com/assets/img/tickk.svg" style="width: 3%;"> Step 1: Input name of the group you want to create</p> <br>                
                    </div>                        
                    <div class="col-md-8 offset-lg-2">
                        <div class="col-md-12">
                            <input type="text" class="form-control" placeholder="name of group" [(ngModel)]="groupName">
                        </div>
                        <br>
                        <div class="col-md-12">
                            <button class="btn btn-block btn-lg btn-success " [disabled]="!groupName || processing" type="button" (click)="createListName()"> 
                                <img *ngIf="processing" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />                      
                                Continue
                            </button>
                            <button class="btn btn-block btn-lg btn-dark btn-outline " type="button" (click)="stage = 6"> 
                                Visit Dashboard
                            </button>
                        </div>
    
                    </div>                    
                </div>
        
                <div *ngIf="uploadingCSV && stage == 2" class="row stage-bordered text-center">
                    <!-- <div class="row stage-bordered text-center"> -->
                        <div class="form-group"> <br>
                                                        
                        <label class="gusto-label control-label">Upload sheet</label>
    
                        <p> <img src="https://chekkitapp.com/assets/img/tickk.svg" style="width: 3%;"> Step 2: Upload CSV of the contact list you want to engage</p> <br> <br>
                        <a href="#" class="js-qwynlraxz">
                                                    
                            <p style="color: #e2ab3b;"> 
                                <a style="text-decoration: none;color: #e2ab3b;" download="sample-product-sheet" target="_blank" href="/assets/data/sample-sheet.csv">
    
                                <i class="fa fa-download"></i>  click here to download our CSV template
                                </a>
                            </p>
                            
                        </a>               
                    </div>
                    <div class="  upload_container" *ngIf="!uploadSuccess">
                        <form>
                            <div class="container" appDnd (fileDropped)="onFileDropped($event)">
                                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target.files)" />
                                <h2 class="title-2">Select File</h2>
                                <p>Drag and drop file here</p>
                            </div>
                            <div class="files-list">
                                <div class="single-file" *ngFor="let file of files; let i = index">
                                    <div class="file-icon" style="width: 50px">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
                                            <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 " />
                                            <g>
                                                <path style="fill:#CEC9AE;"
                                                    d="M16.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S15.948,23,16.5,23z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M16.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S15.948,15,16.5,15z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M41.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,29,41.5,29z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M41.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,37,41.5,37z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M41.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,45,41.5,45z" />
                                            </g>
                                            <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14 " />
                                        </svg>
                                    </div>
                                    <div class="info">
                                        <h4 class="name">
                                            {{ file?.name }}
                                        </h4>
                                        <p class="size">
                                            {{ formatBytes(file?.size) }}
                                        </p>
                                        <app-progress [progress]="file?.progress"></app-progress>
                                    </div>
    
                                    <div class="delete" (click)="deleteFile(i)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                                            <path fill="#B1B1B1" fill-rule="nonzero"
                                                d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-12 " *ngIf="csvTableData">
                        <br><br>
                        <div class="ret_summary">
                            <h5>Summary</h5>
                            <p class="summary_txt" *ngIf="plan">Uploaded Contacts: {{ csvTableData.length}}</p>
                            <p class="summary_txt" *ngIf="plan">SMS Balance: {{ plan.unused}}</p>
    
                            <p *ngIf="plan && (csvTableData.length > plan.unused)" class="summary_warning">You do not have enough SMS Balance to reach out to <b>{{ csvTableData.length}}</b> contacts, please reach out to Chekkit support to fund your balance</p>
                        </div>
                        <br><br>
                        <button class="btn btn-block btn-success " [disabled]="processing || !csvTableData || csvTableData.length < 1 || (csvTableData.length > plan.unused)" type="button" (click)="submit_bulk()">                       
                            <img *ngIf="processing" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            Upload Contacts
                        </button>
                        <br><br>
                    </div>
    
                    <div class="table-responsive">
                        <h6 *ngIf="csvTableData">Selected Sheet (click "upload contacts" button above the table to submit)</h6>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor="let i of csvTableHeader">{{ i }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of csvTableData; let i = index">
                                    <th *ngFor="let t of p">{{ t }}</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="success-message-div col-12" *ngIf="uploadSuccess">
                        <i class="mdi mdi-check-circle-outline e0"></i>
                        <p class="e1">Upload Successful</p>
                        <button class="btn btn-outline-secondary" (click)="csvOff()" type="submit">Close</button>
                    </div>
                    <div class="col-12" *ngIf="csvTableData && csvTableData.length < 1">
                        <p class="e1">Sheet Empty</p>
                    </div>
                </div>
                <div *ngIf="stage == 3" class="v">
                    <div class="form-group text-center"> 
                        <img src="http://consumerintelligence.surge.sh/assets/images/chekkitmessage.png" style="width:83%;">
                        <br>
                        <p style="line-height: 30px;"> 
                            This is an example of how the SMS will look, the SMS will come with ChekkitApp as the SenderID. 
                            You can change the ID by filling the form below or continue to sending the SMS to the numbers you just uploaded.
                        </p>                      
                    
                    </div>
                    <div class="text-center row">
                        <div class="col-lg-4 offset-lg-2 ">
                            <button class="btn btn-block btn-lg btn-success-2 " type="button" (click)="stage = 5">                       
                                Fill Form
                            </button>
                        </div>
                        <div class="col-lg-4">
                            <button class="btn btn-block btn-lg btn-success-1 " type="button" (click)="stage = 4">                       
                                Continue
                            </button>
                        </div>
                    </div>
                    
                </div>
                <div *ngIf="stage == 4" class="row stage-bordered ">
                    <form class="form-horizontal m-t-25" id="signupform">
                            <div class="form-group text-center">
                                <img src="http://consumerintelligence.surge.sh/assets/images/mailer.svg" style="width: 10%; padding-bottom: 30px;"> <br>
                                <label class="gusto-label control-label">Compose SMS </label>
                            </div>
    
                            <div class="form-group row">
                                <div class="col-12">
                                    <textarea maxlength="140" placeholder="Compose Alert" rows="8" name="messagemessage" [(ngModel)]="inputData.message" class="form-control form-control-md b-bottom-text"></textarea>
                                    <p>{{ inputData.message.length }}/140</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12 p-b-20 text-center">
                                    <button [disabled]="!inputData.message || (inputData.message.length > 140)" type="button" (click)="onSubmit()" class="btn  btn-success-1">
                                        <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                </div>
                <div class="row stage-bordered text-center" *ngIf="stage == 5">
                    <div class="form-group"> <br>
                                                        
                        <label (click)="cb()" class="gusto-label control-label">Let's Change Your Sender ID😉</label>
    
                        <p> <img src="https://chekkitapp.com/assets/img/tickk.svg" style="width: 3%;"> Step 1: Upload Your International Passport</p> <br>                
                        <p> <img src="https://chekkitapp.com/assets/img/tickk.svg" style="width: 3%;"> Step 2: Fill The Template Below, scan and Upload</p> <br>
                                                    
                        <p style="color: #e2ab3b;"> 
                            <a style="text-decoration: none;color: #e2ab3b;" download="sample-product-sheet" target="_blank" href="/assets/data/contract_form_template.docx">
    
                            <i class="fa fa-download"></i>  click here to download our CSV template
                            </a>
                        </p>                
                    </div>                        
                    <div class="col-md-8">
                            
                    <div class="upload_container" *ngIf="!uploadSuccess">
                        <form>
                            <div class="container" appDnd (fileDropped)="onFileDropped2($event)">
                                <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler2($event.target.files)" />
                                <h2 class="title-2">Select File</h2>
                                <p>Drag and drop file here</p>
                            </div>
                            <div class="files-list">
                                <div class="single-file" *ngFor="let file of files; let i = index">
                                    <div class="file-icon" style="width: 50px">
                                        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                            x="0px" y="0px" viewBox="0 0 58 58" style="enable-background:new 0 0 58 58;" xml:space="preserve">
                                            <polygon style="fill:#EDEADA;" points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 " />
                                            <g>
                                                <path style="fill:#CEC9AE;"
                                                    d="M16.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S15.948,23,16.5,23z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M16.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S15.948,15,16.5,15z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M41.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,29,41.5,29z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M41.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,37,41.5,37z" />
                                                <path style="fill:#CEC9AE;"
                                                    d="M41.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,45,41.5,45z" />
                                            </g>
                                            <polygon style="fill:#CEC9AE;" points="37.5,0 37.5,14 51.5,14 " />
                                        </svg>
                                    </div>
                                    <div class="info">
                                        <h4 class="name">
                                            {{ file?.name }}
                                        </h4>
                                        <p class="size">
                                            {{ formatBytes(file?.size) }}
                                        </p>
                                        <app-progress [progress]="file?.progress"></app-progress>
                                    </div>
    
                                    <div class="delete" (click)="deleteFile(i)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18" viewBox="0 0 14 18">
                                            <path fill="#B1B1B1" fill-rule="nonzero"
                                                d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
    
                    </div>
                    <br><br>
                    <button class="btn btn-block btn-success " [disabled]="processing" type="button" (click)="uploadSenderIdScans()">                       
                        <img *ngIf="processing" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        Submit & Proceed
                    </button>                    
                </div>
            </div>
        </div>
    </div>
</div>