
/* =============
   Members list
============= */
h5, .nb-theme-default .h5 {
    font-size: 1.375rem;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 2rem;
}

.member-card .member-thumb {
    position: relative;
  }
  .img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.img-thumbnail{
    width: 100%;
    height: 100%;
}
.bg-warning {
    background-color: #e2ab3b !important;
}
  .thumb-xl {
    height: 120px;
    width: 120px;
    }
    .center-page {
        float: none !important;
        margin: 0 auto;
    }
  .member-card .member-star {
    position: absolute;
    bottom: 10px;
    right: 5px;
    background-color: #ffffff;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    font-size: 18px;
  }
  
  .user-badge {
    position: absolute;
    top: 15px;
    left: 0;
    padding: 5px 15px;
    border-radius: 20px;
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .social-links li a {
    border-radius: 50%;
    color: rgba(122, 125, 132, 0.5);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(122, 125, 132, 0.5);
    text-align: center;
    width: 30px;
  }
  
  .social-links li a:hover {
    color: #7a7d84;
    border: 2px solid #7a7d84;
  }
  
  .widget-inline {
    padding: 20px 0 !important;
  }
  
  .widget-inline .col-lg-3 {
    padding: 0;
  }
  
  .widget-inline .col-lg-3:last-of-type .widget-inline-box {
    border-right: 0;
  }
  
  .widget-inline .widget-inline-box {
    border-right: 1px solid #e3e8f1;
    padding: 20px;
  }
  
  .widget-inline .widget-inline-box i {
    font-size: 32px;
    padding-right: 5px;
  }
  
  .bg-facebook {
    background-color: #3b5998 !important;
    border-color: #3b5998 !important;
    color: #ffffff;
  }
  
  .bg-twitter {
    background-color: #00aced !important;
    border-color: #00aced !important;
    color: #ffffff;
  }
  
  .social-feed-box h3 {
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
  }
  
  .social-feed-slider {
    padding-bottom: 50px;
  }
  
  .social-feed-slider .carousel-indicators {
    bottom: 0;
  }
  
  .widget-box-two {
    margin: 30px -22px 2px -22px;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
  }
  
  .pro-widget-img {
    border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;
    padding: 70px 0;
    background-size: cover;
    /* background: url(../images/bg.jpg) center right no-repeat; */
  }
