<div class="card page-card">
    <div class="card-body">
        <div class="align-items-center">
            <div>
                <h4 class="card-title text-custom">My Products
                    <a [hidden]="!utility.hasPermission(25)" routerLink="/dashboard/products/add-product" routerLinkActive="router-link-active" class="pull-right">
                        <button type="button" class="btn btn-default btn-rounded btn-right">+ Add
                            New Product</button>
                    </a>
                </h4>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-4" *ngFor="let product of
                save_products">
                                        
                    <div class="text-center card-box">
                    
                        <div class="member-card mt-4">
                    
                            <span class="user-badge bg-warning">
                                {{product?.product_category
                                    || "Product"}}
                            </span>
                    
                            <div class="thumb-xl member-thumb m-b-10 center-page">
                            
                                <!-- <img src="assets/images/lonart.jpg" class="rounded-circle img-thumbnail" alt="profile-image"> -->
                                <img src="{{product.product_image}}" onerror="this.onerror=null;this.src='assets/theme/images/lonart.jpg';" class="rounded-circle img-thumbnail" alt="profile-image">

                                <i class="mdi mdi-information-outline member-star text-success" title="verified"></i>
                            
                            </div>
                
                            <div class="">
                                <h5 class="m-b-5 mt-2">{{product.product_name}} 
                                    <br>
                                <p style="font-size: 14px; margin-top: 10px;"> ({{product.id_range}}) </p>
                                </h5>
                                
                                <p style="font-size: 12px;">                   
                                    <a [hidden]="!utility.hasPermission(26)" (click)="ViewProduct(product)" style="color: #e2ab3b; font-weight: 600; margin-right: 10px;"> <i class="fa fa-eye"></i> View Batch</a>                        
                                    <span [hidden]="!utility.hasPermission(24)"> <a (click)="CreateBatch(product)" style="color: #23b195; font-weight: 600; margin-left: 10px;"> <i class="fa fa-plus"></i> Create New Batch</a> </span>
                                </p>
                                
                            </div>
                
                            <p class="text-muted font-13">
                                {{product.product_description}}
                            </p>
                            
                            <button [hidden]="!utility.hasPermission(27)" (click)="editProduct(product)" type="button" class="btn btn-default btn-rounded btn-sm m-t-10">Edit Product</button>                             
                
                            <br>
                
                
                        </div>
                
                    </div>
                
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-4">
                                        
                    <div class="text-center card-box">
                    
                        <div class="member-card mt-4">
                    
                            <span class="user-badge bg-warning">Drug</span>
                    
                            <div class="thumb-xl member-thumb m-b-10 center-page">
                            
                                <img src="assets/images/lonart.jpg" class="rounded-circle img-thumbnail" alt="profile-image">
                            
                                <i class="mdi mdi-information-outline member-star text-success" title="verified"></i>
                            
                            </div>
                
                            <div class="">
                                <h5 class="m-b-5 mt-2">Lonart Malaria Tablet 
                                    <br>
                                <p style="font-size: 14px; margin-top: 10px;"> (1,000 units) </p>
                                </h5>
                                
                                <p style="font-size: 12px;">                   
                                    <a href="view-batch.html" style="color: #e2ab3b; font-weight: 600; margin-right: 10px;"> <i class="fa fa-eye"></i> View Batches</a>                        
                                    <span> <a href="create-batch.html" style="color: #23b195; font-weight: 600; margin-left: 10px;"> <i class="fa fa-plus"></i> Create New Batch</a> </span>
                                </p>
                                
                            </div>
                
                            <p class="text-muted font-13">
                                Product description as a lorem ipsum details in the greek language most ever done ever
                            </p>
                
                            <a href="edit-product.html">  
                            
                                <button type="button" class="btn btn-default btn-rounded btn-sm m-t-10">Edit Product</button> 
                            
                            </a>
                            
                            <a href="#">
                                <button type="button" class="btn btn-default btn-rounded btn-sm m-t-10">View Performance</button>
                            </a>
                
                            <br>
                
                
                        </div>
                
                    </div>
                
                </div>
            </div> -->
        </div>
    </div>
</div>