<div class="row">
    <div class="card page-card col-md-12 col-lg-12 col-xxxl-12">
        <div class="card-body">
            <a [routerLink]="['/dashboard/surveys']" routerLinkActive="router-link-active" style="font-size:
            12px; color: #777;" class="m-b-20">
            << Go back </a> <br>
        <div class="col-sm-12 text-center">
                    <h4 style="color: #23b195;" class="header-title m-t-0 m-b-20">
                        Edit {{survey.title}}
                    </h4>
        </div>
</div>

<div class="row">
            <div class="col-md-12 col-lg-12 col-xxxl-12">
                <form class="form-horizontal" role="form" [formGroup]="surveyForm" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label class="col-md-4 col-form-label">Survey Name:</label>
                            <div class="col-md-12 col-lg-12 col-xxxl-12">
                                <input fullWidth type="text" class="form-control" formControlName="title" required="true" placeholder="Survey Name">
                            </div>
                    </div> <br>

                    <div class="form-group">
                        <label class="col-md-4 col-form-label">Survey Content / Intent:</label>
                            <div class="col-md-12 col-lg-12 col-xxxl-12">
                                <textarea fullWidth class="form-control" formControlName="content" rows="5" [ngClass]="{ 'is-invalid': submitted && f.content?.errors }" placeholder="Survey content/ Intent"></textarea>
                            </div>
                    </div> <br>

                    <div class="form-group">
                        <label class="col-md-12 col-form-label">Question {{qust_num}}:</label>
                            <div class="col-md-12 col-lg-12 col-xxxl-12">
                                <input type="text" class="form-control" fullWidth formControlName="question" placeholder="Enter the question you want users to answer here...">
                            </div> <br>

                        <label class="col-md-12 col-lg-12 col-xxxl-12 col-form-label">Options For Users To Select:</label>

                            <div class="col-md-12 col-lg-12 col-xxxl-12" *ngIf="numbers">
                                <input style="margin-bottom: 5px;" *ngFor="let option of options; let a=index;" class="form-control" formControlName="choice{{a+1}}" fullWidth type="text" required placeholder="Choice {{a+1}} {{a>1 ? '(Optional)':''}}"> <br>
                                <p *ngIf="options.length <3" style=" text-decoration: underline; margin-left: 10px; color: #59983f;float: right;" (click)="increaseOptions()">
                                    <i class="fa fa-plus"></i> Add more options</p>
                                <p style=" text-decoration: underline; color: red;float: right;" (click)="decreaseOptions()">
                                    <i class="fa fa-times"></i> Remove last option</p> <br>
                            </div>
                    </div>
                                    <p *ngFor="let number of numbers; let a=index;" style="padding-bottom: 10px; text-decoration: underline; color: #4c3be2;" (click)="editQuestion(a)">
                                        <i class="fa fa-plus"></i> {{number}} </p><br>
                                    <p style="padding-bottom: 30px; text-decoration: underline; color: #e2ab3b;" (click)="addMoreQuestsion()">
                                        <i class="fa fa-plus"></i> Add more questions</p>
                           
                    <button type="submit" class="btn btn-default btn-rounded" [disabled]="loading || surveyForm.invalid">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Save and Update 
                    </button>
                </form>
            </div>
        </div>
    </div>
</div> 