.pos-btn{
    background-color: #f7f7f7;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
    border: solid 1px #666666;
    color: #666666;
    font-weight: bold;
}

.pos-btn-active{
    background-color: #666666;
    color: #f7f7f7;
}


.table_color{
    background-color: #e9ecef;
}