<div class="card page-card">
    <div class="card-body">
        <div class="col-sm-12">

            <a  *ngIf="!adding" [routerLink]="['/dashboard/rewards']" routerLinkActive="router-link-active" style="font-size: 12px; color: #777;" class="m-b-20"><< Go back </a>
            <a  *ngIf="adding" (click)="toggleAdding()" style="font-size: 12px; color: #777;" class="m-b-20"><< Go back </a>
        </div>
        <div class="col-md-12 text-center"> 
    
            
            <img *ngIf="!adding" src="assets/images/raffle.svg" style="width: 8%; padding-bottom: 20px;">
            <img *ngIf="adding" src="assets/images/new-reward.svg" style="width: 8%; padding-bottom: 20px;">

    
            <h6 style="color: #23b195;">{{adding?'Create A New Raffle Draw Reward':'Raffle Draw Reward'}}</h6> <br>
            <a  *ngIf="adding" (click)="toggleAdding()" style="font-size: 12px; color: #777;" class="m-b-20"><< Go back </a>

        </div>
        <div class="col-lg-12">
            <div *ngIf="!adding">
                <div class="m-b-20">
                    <h6 style="padding-bottom: 50px;color: #23b195;">
                        List of Raffle Draws You Have Created:
                        <a (click)="toggleAdding()">
                            <button type="button" class="btn btn-default btn-rounded btn-right">+create new raffle draw</button>
                        </a>
                    </h6>
                    <table class="table m-0">
                        <thead class="table_color">
                            <tr>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody *ngIf="raffles" class="col_color">
                            <tr *ngFor="let raffle of raffles">
                                <td (click)="ViewRaffle(raffle)">
                                    {{raffle.reward_value}}
                                </td>

                                <td>
                                    <a (click)="ViewRaffle(raffle)" style="color: #777; margin-right: 20px;"><i class="fa fa-eye"></i> View</a>
                                    <a (click)="deleteRaffle(raffle.id)" style="color: #777; margin-right: 20px;"><i class="fa fa-trash"></i> Delete</a>
                                </td>
                            </tr>
                        </tbody>
                        <p *ngIf="!loyalt_points"></p>
                    </table>
                </div>                                             
            </div>

    <div *ngIf="adding" class="row">
        <div class="col-md-8 offset-md-2 ">
                    <div class="form-group">
                        <!-- {{raffleData.gifts.length}} -->
                        <label class="col-md-12 col-form-label">Raffle Name:</label>

                        <div class="col-md-12">

                            <input type="text" class="form-control" [(ngModel)]="raffleData.reward_value" placeholder="e.g. promo">

                        </div>

                    </div>
        </div>
        <div class="col-md-8 offset-md-2 ">
                <p>Add Gifts To Reward:</p>
                    <div>
                        <span *ngFor="let gift of raffleData.gifts; let i = index"><button type="submit" class="pos-btn" [ngClass]="{'pos-btn-active': currentGiftIndex === i}" (click)="switchToGift(i)">{{i+1}}</button></span>
                    </div>
                    <div class="form-group">

                        <label class="col-md-12 col-form-label">Name of Gift</label>

                        <div class="col-md-12">

                            <input #giftPhoto type="text" class="form-control" [(ngModel)]="gift.name" placeholder="e.g. flat screen TV, android phone etc">

                        </div>

                    </div>
                    <div class="form-group">
                        <div *ngIf="uploading">
                            <div style="width: 60px; height: 60px; padding: 10px; border-radius: 10px; border: solid 1px #cccccc; text-align: center;">
                                <span class="spinner-grow spinner-grow-lg mr-1"></span>
                            </div>
                        </div>
                        <div *ngIf="gift.photo && !uploading">
                            <img [src]="gift.photo" height="100px" *ngIf="gift.photo" />
                        </div>
                        <label class="col-md-4 col-form-label">{{uploading?'Uploading Image...':'Upload Gift Image:'}}</label>
                        <form class="form-horizontal" [formGroup]="raffleImageForm">
                            <div class="form-group">
                                <input style="background-color: #fff;border: none;" nbInput fullWidth type="file" name="photo" [ngClass]="{ 'is-invalid':submitted && f.photo?.errors }" (change)="onFileChange($event)" accept="image/*">
                            </div>
                        </form>
                    </div>
                    <br>

                    <div class="text-center">

                        <button type="submit" (click)="saveGift()" class="btn btn-custom btn-rounded" [disabled]="!gift.name || !photoSelected || uploading">Save Current gift</button>
                        <button style="margin-left: 10px;" type="submit" (click)="addGift()" class="btn btn-warning btn-custom btn-rounded" [disabled]="!gift.name || !photoSelected || uploading"><b>+</b> Add Another Gift</button>

                    </div>
        </div>
        <div class="text-center col-md-3  offset-md-5">
            <button type="submit"  (click)="onSubmit()" class="btn btn-dark btn-block btn-rounded" [disabled]="loading || !raffleData.reward_value || !raffleData.gifts || (raffleData.gifts.length < 1) || uploading"><span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit</button>
        </div>
    </div>
        </div>
    </div>
</div>