.auth-wrapper .auth-box{
    /* background-color: #ffffff;
    max-width: 500px; */
    padding: 10%; 
    padding-top: 5%;
}
.auth-wrapper{
    background-color: #FAFAFA;
    height: 100vh;
    background-size: cover;
}

.left-section{
    /* padding-top: 2%; */
    height: 100vh;
}
.right-section{
    background-color: #153853;
    height: 100vh;
    background-image:url("../../../assets/images/logogroup.svg");
    background-repeat: no-repeat;
    background-position: right;
    text-align: left;
    padding: 5%;
    font-size: 18px;
    padding-top: 12%;
}

.testi-img img{
    border-radius: 50%;
    height: 150px;
}
.txt-1{
    font-size: 1.1em;
    color: #000;
    margin: 20px 0px;
}

.txt-2{
    color: #000; 
    margin: 20px 0px; 
}
.txt-3{
    color: #ffffff;
    line-height: 35px;
    font-weight: 200;
    margin-top: 30px;
}

.form-control{
    padding: 1.475rem 0.75rem;
    border-radius: 10px;
}
.form-group{
    margin-bottom: 30px;
}

.reg-form{
    margin-top: 60px;
}
.txt-4{
    color: #46F7AD;
}
#loginform{
    text-align: left;
}
.border-input{
    background-color: #ffffff !important;
    border: solid 1px #33DB60 !important;
    border-radius: 6px;
    height: 64px;
}

.border-input:focus{
    border: solid 1.5px #33DB60 !important;
}

h4{
    color: #666666;
    font-weight: 800;
}
.big-text{
    font-size: 30pt;
    line-height: 40pt;
    color: #33DB60;
    width: 200pt;
    margin: auto;
}

.auth-wrapper .auth-box .logo {
    text-align: left;
}

.auth-wrapper .auth-box{
    border-radius: 8px;
    height: auto !important;
    margin-top: 0px;
    /* padding: 20pt; */
}
.db img{
    margin-bottom: 40px;
}

.btn-submit{
    background: #153853;
    border-radius: 6px;
    font-size: 15px;
}
.green-text{
    color: #33DB60;
    text-decoration: none;
}

.grey-link{
    color: #aaaaaa;
}

.btn-curved{
    border-radius: 8px;
}

ngb-carousel .carousel {
    height: 610px;
  }
  
  .home-slider{
    height: 600px;
  }
  
  @media (max-width:480px){
    .home-slider{
      height: 200px;
    }
  
    ngb-carousel .wrapper>img {
      height: 200px;
    }
  }
  
  
  ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
  }
  
ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 600px;
}

ngb-carousel .carousel-caption{
    bottom: 45%;
}


ngb-carousel h3{
    color: #fff;
    font-size: 2.9em;
    font-weight: 900;
}

.slide-btn{
    background: #fe696a;
    border: 2px solid #fe696a;
    color: #fff;
    padding: 10px 15px;
    font-size: calc(11px + 3 * ( (100vw - 320px) / 1600));
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}