
<div class="auth-wrapper m-auto text-center">
    <div class="row">
        <div class="auth-box mx-auto ml-md-0 col-md-7 left-section">
            <div id="loginform" [ngClass]="{'d-none': recoverform}">

                <div class="row">
                    <div class="col-12">
                        <span class="db"><img height="60" src="assets/images/chekkitlogoo.png" alt="logo" /></span>
                        <h3 class="txt-1">We are excited you are thinking about working us 😊</h3>
                        <p class="txt-2">Please fill the information below to get started:</p>
                        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-horizontal reg-form form-material" id="loginform">
                            <div class="form-group m-b-20">
    
                                <div class="">
    
                                    <input type="text" placeholder="Your Username" formControlName="username" class="form-control" [ngClass]="{
                                        'is-invalid': submitted && f.username.errors
                                        }" />
                                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                        <div *ngIf="f.username.errors.required">Username is required</div>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <div class="form-group m-b-20">
    
                                <div class="">
                                    <input type="text" placeholder="What's Your Company Name?" formControlName="company_rep" class="form-control" [ngClass]="{
                                        'is-invalid': submitted &&
                                        f.company_rep.errors }" />
                                    <div *ngIf="submitted && f.company_rep.errors" class="invalid-feedback">
                                        <div *ngIf="f.company_rep.errors.required">Company Representing is required</div>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <div class="form-group m-b-20">
    
                                <div class="">
                                    <input type="email" placeholder="Enter Your Email Address" formControlName="email" class="form-control" [ngClass]="{
                                        'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email Address is required</div>
                                    </div>
    
                                </div>
    
                            </div>
    
                            <div class="form-group m-b-20">
    
                                <div class="">
                                    <input placeholder="Enter Your Password" type="password" formControlName="password" class="form-control" [ngClass]="{
                                        'is-invalid': submitted && f.password.errors
                                        }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
    
                                </div>
    
                            </div>
                            <div class="form-group account-btn text-center m-t-10">
                                <div class="">
                                    <button [disabled]="loading " class="btn btn-lg
                                        btn-dark btn-submit btn-block" type="submit">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit</button>
                                </div>
                            </div>
                            <div class="row m-t-50">
                                <div style="cursor: pointer;" class="col-sm-12 text-center" [routerLink]="['/authentication/login']">
                                    <p class="text-muted">Don't have an account? <a class="text-dark m-l-5">Login</a></p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 right-section">
           <span class="testi-img"><img src="assets/images/users/4.jpg" alt="logo" /></span>

            <p class="txt-3">"Chekkit allows people that walk into our store feel more comfortable with what they are purchasing; we absolutely love them."</p>
            <p class="txt-4">Vanessa Odumade, <br>Managing Director, HealthPlus</p>
        </div>
    </div>
</div>