<div class="card page-card">
    <div class="card-body">
        <div class="col-sm-12">
            <a [routerLink]="['/dashboard/rewards']" style="font-size: 12px;color:#777;" class="m-b-20">
                << Go back </a>
        </div> <br><br>
        <div>
            <h4>All Rewards Created</h4>
        </div>
        <div class="col-lg-12">
            <div class="row">
                <ngx-datatable #mydatatable class="bootstrap condensed col-lg-12" [headerHeight]="50" [limit]="5" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                    <ngx-datatable-column name="Reward Type">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                            <span>{{row.reward_type}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Reward Value">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                            <span>{{row.reward_value}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Quantity">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                            <span>{{row.reward_quantity}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Point">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                            <span>{{row.point_to_claim_reward}} </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Date Created">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{row.created_at | amCalendar:{sameElse:'Do MMMM, YYYY',lastWeek:'Do MMMM, YYYY'} }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actions">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                            <a (click)="ViewReward(row)" style="color: #23b195;margin-right: 20px;cursor: pointer;"><i class="fa fa-eye"></i> View</a>
                            <a (click)="ViewReward(row)" style="color: #23b195;margin-right: 20px;cursor: pointer;"><i class="fa fa-pencil"></i> Edit</a>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>          
            </div>

        </div>
    </div>
</div>