.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
    border: none;
    color: #01d4c1;
    font-weight: bold;
    border-bottom: solid 4px #01d4c1;
}

.nav-tabs{
    border-bottom: 1px solid #edf1f7;
}

a{
    background-color: transparent;
    cursor: pointer;
    padding: 1rem 2rem;
    color: #8f9bb3;
    font-family: Open Sans, sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    text-transform: uppercase;
}


.solar-card {
    height: 16rem !important;
    border: solid 1px #edf1f7;
}

.table_color {
    color: #6e7382;
}

.col_color {
    color: #6e7382;
}

#map{
    width:100%;
    height:600px;
    margin-top: 20px;
}

.card-col .signup {
    height: 250px;
    width: 400px;
    padding-right: 100px;
    align-items: center;
    align-self: center;
    padding-bottom: 100px;
}

.card .map {
    padding-top: 100px;
}


 #nb-card {
    height: 350px;
    width: 500px;
    margin: 50px;
}

#nb-card p {
   padding: 130px;
}


h6 {
    font-size: small;
    color: black;
    font-weight: 100;
}

.menu-icon{
    background-color: #E5EFE7;
    color: #01D4C1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 10%;
    margin-bottom: 20px;
    font-size: 0.9em;
    padding-bottom: 5%;
}

.menu-icon-2{
    background-color: #E5EFE7;
    color: #01D4C1;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    padding-top: 10%;
    margin-bottom: 20px;
    font-size: 0.8em;
    padding-bottom: 5%;
}

.solar-card{
    height: 13rem !important;
}

.text-bold-2{
    color: #000000 !important;
    font-size: 1.8em;
}

#nb-card h6{
    color: #4E505C !important;
    text-decoration: underline;
    font-size: 1.3em;
}

h4 .input {
    float: right;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

.active-graph{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 0.9em;
}

.custom-input{
    background-color: #ffffff;
    border: 1px solid #ced4da;
}

form {
    padding: 0;
    margin-top: -20px;
}

form .update {
    margin-top: 5px;
    margin-left: 5px;
}
 button {
    float: right;
}

.setup-section {
    text-align: center;
}

.header-1{
    color: #000;
    font-size: 1.6em;
}

.txt-1{
    
}

.chanel-container{
    border: solid 1px #C7C7C7;
    height: 50px;
}

.chanel-wrapper{
    width: 300px;
    margin: 0px auto;
}
.text-left{
    text-align: left;
}
.chn-left{
    float: left;
    border-right: solid 1px #C7C7C7;
    width: 40%;
    height: 100%;
    font-size: 0.7em;
    background-color: #FAFAFA;
    padding: 5px;
    font-weight: 300;
    color: #000;
}

.chn-right{
    float: left;
    height: 100%;
    width: 60%;
    font-size: 0.6em;
    padding: 5px;
}

.chn-btn-section{
    width: 100%;
    padding-top: 10px;
}