
        <div class="card page-card">
            <div class="card-body">
                <div class="d-md-flex align-items-center">
                    <div>
                        <h4 class="card-title text-custom">Welcome Jida, what will you like to do?</h4>
                    </div>
                </div>
                <div>
                    <div class="row">     
                        <div class="col-sm-12">
                        
                            <div class="card-box widget-inline">
                        
                                <div class="row">
                        
                                    <div class="col-lg-4 col-sm-6" [hidden]="!utility.hasPermission(1)">
                        
                                        <div class="widget-inline-box text-center">
                        
                                            <h3 class="m-t-10">
                                                
                                                <i class="text-primary mdi mdi-access-point-network"></i>
                                            
                                            </h3>
                        
                                            <a href="add-product.html">
                                                
                                                <p class="text-muted quick-text">Add New Product</p>

                                                <button type="button" class="btn btn-default btn-rounded">Enter</button>
                                            
                                            </a>
                        
                                        </div>
                        
                                    </div>

                                    <div class="col-lg-4 col-sm-6" [hidden]="!utility.hasPermission(2)">
                        
                                        <div class="widget-inline-box text-center">
                        
                                            <h3 class="m-t-10">
                                                
                                                <i class="text-custom mdi mdi-qrcode"></i> 
                                            
                                            </h3>
                        
                                            <a href="generate-pin.html">
                                                
                                                <p class="text-muted quick-text">Generate QR Code</p>

                                                <button type="button" class="btn btn-default btn-rounded">Enter</button>
                                            
                                            </a>
                        
                                        </div>
                        
                                    </div>


                                    <div class="col-lg-4 col-sm-6" [hidden]="!utility.hasPermission(3)">
                                     
                                        <div class="widget-inline-box text-center b-0">
                                      
                                            <h3 class="m-t-10">
                                                
                                                <i class="text-danger mdi mdi-cellphone-link"></i> 
                                            
                                            </h3>
                                      
                                            <a href="analytics.html">
                                                
                                                <p class="text-muted quick-text">View Analytics</p>

                                                <button type="button" class="btn btn-default btn-rounded">Enter</button>
                                            
                                            </a>
                                      
                                        </div>
                                    
                                    </div>

                                
                                </div>
                            
                            </div>
                        
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-4" [hidden]="!utility.hasPermission(4)">

                            <div class="card-box text-center">

                                <img src="assets/images/qr-codes.svg" class="dash-img">
                                

                                <h3> ₦200</h3> <br>

                                <p>Total Activated Pin <br> <span style="font-size: 10px;">(N5/QR and N25/USSD)</span></p>

                                
                                
                                <a href="#">
                                    
                                    <button type="button" class="btn btn-default btn-rounded"> Upload Payment</button>
                                
                                </a>

                                <br><br>

                                <p data-container="body" title="" data-toggle="popover" data-placement="top" data-content="This is the amount due for payment for labels generated" data-original-title="" style="font-size: 10px; color: red;">
                                    Click to know what this means
                                </p>

                            </div>

                        </div>


                        <div class="col-lg-4" [hidden]="!utility.hasPermission(5)">

                            <div class="card-box text-center">

                                <img src="assets/images/checklist.svg" class="dash-img">
                                

                                <h3>30,000</h3> <br>

                                <p>Chekkit ID Balance <br> <span style="font-size: 10px;">(Payment Due For Pins Generated)</span></p> 
                                
                                <a href="#">
                                    
                                    <button type="button" class="btn btn-default btn-rounded"> Topup Balance</button>
                                
                                </a>

                                <br><br>

                                <p data-container="body" title="" data-toggle="popover" data-placement="top" data-content="This is the amount due for payment for labels generated" data-original-title="" aria-describedby="popover375249" style="font-size: 10px; color: red;">
                                    Click to know what this means
                                </p>

                            </div>

                        </div>



                        <div class="col-lg-4" [hidden]="!utility.hasPermission(6)">

                            <div class="card-box text-center">

                                <img src="assets/images/gift.svg" class="dash-img">

                                <h3>₦ 5,000</h3> <br>

                                <p> Available Reward Balance</p> <br>

                                <a href="#">
                                    
                                    <button type="button" class="btn btn-default btn-rounded"> Update Airtime Balance</button>
                                
                                </a>

                                <br><br>

                                <p data-container="body" title="" data-toggle="popover" data-placement="top" data-content="This is the amount left from the reward you loaded and what's been distributed to your customers" data-original-title="" aria-describedby="popover375249" style="font-size: 10px; color: red;">
                                    Click to know what this means
                                </p>

                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>