
.widget-inline {
    padding: 20px 0 !important;
}

.card-box {
    background-color: #ffffff;
    border: 1px solid rgba(98, 103, 115, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.widget-inline .widget-inline-box {
    border-right: 1px solid #e3e8f1;
    padding: 20px;
    color: #676a6c;
}

.quick-text {
    font-weight: bold;
}

.text-muted {
    color: #7a7d84 !important;
}

.btn-default {
    background-color: #ffffff;
    border-color: #cccccc;
    color: #000000;
}

.text-custom {
    color: #23b195 !important;
}

.widget-inline .widget-inline-box i {
    font-size: 32px;
    padding-right: 5px;
}

.text-danger {
    color: #d57171 !important;
}

.text-primary {
    color: #458bc4 !important;
}

.dash-img {
    width: 15%;
    margin-bottom: 20px;
}

.h3, h3 {
    font-size: 1.75rem;
    color: #676a6c;
}

.card-title{
    margin-bottom: 2px !important;
}