body{
    background-color: red !important;
}

.light-logo{
    height: 40px;
}

.dark-logo{
    height: 40px;
}


#main-wrapper{
    /* padding-left: 80px; */
    /* padding-right: 80px; */
    background-color: #f5f5f5 !important;
    // width: 90%;
    // margin: 0 auto; 
    padding-left: 5%;
    padding-right: 5%;
}

#main-wrapper[data-layout="vertical"] .topbar .top-navbar .navbar-header[data-logobg="skin1"] {
    background: #f5f5f5 !important;
}
.page-wrapper{
    background: #f5f5f5 !important;
}
.page-wrapper > .container-fluid{
    padding-top: 0px;
}
.left-sidebar{
    top: 64px !important;
    padding-top: 0px !important;
    background: #ffffff !important;
    box-shadow: none !important;
    height: 635px !important;
}

.left-sidebar ul{
    background: #ffffff !important;
}

#main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin1"], #main-wrapper[data-layout="vertical"] .left-sidebar[data-sidebarbg="skin1"] ul{
    background: #ffffff !important;
}


.sidebar-nav ul .nav-small-cap{
    color: red !important;
}

#main-wrapper[data-layout="vertical"][data-header-position="fixed"] .topbar {
    width: 89%;
    box-shadow: none;
}
