<div class="card page-card">
    <div class="card-body">
        <div>
            <h4>Code Collections</h4>
            <p>List of All Product Batches</p>
        </div>
        <div class="col-lg-12">
            <div>
                <ngx-datatable #mydatatable class="bootstrap" [headerHeight]="50" [limit]="10" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [rows]="rows">
                    <ngx-datatable-column name="Product Name">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                            <span>{{row.product_name}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Batch Number">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                            <span>{{row.batch_num}} </span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Quantity">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                            <span> {{row.total_generated_code}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Date Created">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            {{row.created_at | amCalendar:{sameElse:'Do MMMM, YYYY',lastWeek:'Do MMMM, YYYY'} }}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Actions">
                        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
                            <a [hidden]="!utility.hasPermission(22)" (click)="gotoPrintCode(row)" style="color: #23b195;margin-right: 20px;"><i class="fa fa-print"></i> Print</a>
                            <a [hidden]="!utility.hasPermission(23)" (click)="ViewBatch(row)" style="color: #23b195;margin-right: 20px;"><i class="fa fa-eye"></i> View</a>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>        
            </div>

        </div>
    </div>
</div>