<div class="plans-wrapper">
    <div class="logo-container">
        <img height="50" src="assets/images/chekkitlogoo.png" alt="logo" />
    </div>
    
    <div>
        <div class="plans-header">
            <p>Thank you for signing up <b>{{currentUser?.first_name}}</b>, <br>
                Please select a plan so we can tailor your experience </p>
        </div>
        <div class="d1">
            <div class="plans-container" *ngIf="plans && !processing">
                <div class="row">
                    <div class="single-plan col-lg-3  col-md-1 col-sm-1 col-xs-1" *ngFor="let plan of plans; let i = index" [ngClass]="{'selected': isPlanChosen(plan.id)}">
                        <div class="plan-top">
                            <p class="t-text-1">${{plan.price}} <span>+ unit prices</span></p>
                            <p class="t-text-2">{{plan.name}}</p>
                            <p class="t-text-3">{{plan.description}}</p>
                        </div>
                        <div class="plan-middle">
                            <div class="plan-feature" *ngFor="let feature of convertToArray(plan.features_list)"><i class="fa fa-check-circle"></i>  {{feature}}</div>
                        </div>
                        <div class="plan-bottom">
                            <div class="bottom-bordered">
                                <div>
                                    <button [disabled]="selectedPlan" (click)="choosePlan(plan,true)" class="btn btn-success btn-bordered btn-block">Try It</button>
                                    <button [disabled]="selectedPlan" (click)="choosePlan(plan)" class="btn btn-dark btn-bordered btn-block">Buy It</button>
                                </div>

                                <div *ngIf="selectedPlan && selectedPlan.id == plan.id" class="submit-container" [hidden]="!selectedPlan">
                                    <button style="margin-top: 15px;" (click)="submitPlan()" class="btn btn-submit-blue btn-lg btn-bordered btn-block">Submit</button>
                                    <button style="margin-top: 2px;" (click)="selectedPlan=undefined" class="btn btn-danger btn-md btn-bordered btn-block">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="submit-container" [hidden]="!selectedPlan">
                    <button #targetBtn style="width: 200px;" (click)="submitPlan()" class="btn btn-success btn-lg">Submit</button>
                </div> -->
    
            </div>
            <div class="plans-container" style="text-align: center;" *ngIf="!plans || plans.length < 1 || processing">
                <img height="400" style="margin-top: 12%;" src="assets/images/loading.png" alt="logo" />
            </div>
        </div>
        
    </div>
</div>
