.plans-wrapper{
    background-color: #FAFAFA !important;
    background-image:url("../../../assets/images/logogroup2.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100vh;
}
.plans-header p{
    text-align: center;
    color: #000;
}

.logo-container{
    padding: 10px;
    text-align: center;
}

.single-plan{
    width: 300px;
    border: solid 1px #C7C7C7;
    height: 550px;
    border-radius: 4pt;
    margin-left: 30px;
    padding: 0px 20px;
    margin-top: 20px;
    background-color: #fff;
}

.plan-top{
    border-bottom: solid 1px #C7C7C7;
    height: 120px;
    padding: 14px;
    padding-top: 29px;
    font-weight: 800;
    color: #666;
}
.plan-middle{
    height: 300px;
    padding: 0px 14px;
}
.plan-bottom{
    padding: 0px 14px;
}
.plan-feature{
    text-align: left;
    color: #000;
    margin-top: 25px;
}
.btn-bordered{
    border-radius: 6px;
}

.btn-submit-blue{
    color: #fff;
    background: #153853;
    font-weight: 400;
    font-size: 15px;
}

.bottom-bordered{
    text-align: center;
    margin-top: 10px;
}

.price span{
    font-size: 1.8em;
    font-weight: bold;
    color: #38C663;
}

.plans-container{
    width: 70%;
    margin: 0px auto;
    padding-left: auto;
    padding-right: auto;
}

.d1{
}

.selected {    
    height: 640px;
    box-shadow: 0 10px 10px -5px;
}

.selected .price span{
    color: #fff;
}

.selected .btn-success{
    /* background-color: #036D24; */
}


.submit-container{
  margin-top: 20px;  
  text-align: center;
}
.t-text-1{
    color: #000;
}

.t-text-1 span{
    font-size: 10px;
    font-weight: 300;
    text-transform: lowercase;
}

.t-text-2{
    color: #012C3D;
    text-transform: capitalize;
    font-size: 1.2em;
}

.t-text-3{
    color: #666;
    text-transform: lowercase;
    font-weight: 200;
}