/* You can add global styles to this file, and also import other style files */
@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/bootstrap.scss';
@import '~@swimlane/ngx-datatable/themes/material.scss';
@import '~@swimlane/ngx-datatable/themes/dark.scss';
@import '~@swimlane/ngx-datatable/assets/icons.css';


.e{
    color: red;
}



.widget-inline {
    padding: 20px 0 !important;
}

.card-box {
    background-color: #ffffff;
    border: 1px solid rgba(98, 103, 115, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.widget-inline .widget-inline-box {
    border-right: 1px solid #e3e8f1;
    padding: 20px;
}
